
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

h1 {
    align-self: flex-start;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.wbj {
    width: 20%;
}


#color {
    height: 50px;
}

#submit {
    background-color: rgb(3, 173, 40);
}